<% provide(:title, @user.name) %>
<ul>
<li><%= @question.content %></li>
<li><%= @question.user.name %></li>
<li><%= render 'follow_form' if signed_in? %></li>
<li><%= render 'followerstats' if signed_in? %></li>
</ul>