<%= form_for(@articles) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new article..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>