<% provide(:title, 'All Articles') %>
<div class="row">
  <aside class="span4">
      <h1>
        Latest questions
      </h1>
  </aside>
  <table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Question Age</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title %></td>
      <td><%= time_ago_in_words(article.created_at) %></td>
    </tr>
<% end %>
</tbody>
</table>
</div>