<% provide(:title, 'Article Generator') %>
<ul>
	<li><%= @article.sectiontwos.count %></li>
    <% @article.sectiontwos.each do |sectiontwo| %>
      <li><%= sectiontwos.contenttwo %></li>
    </ul>
<% end %>